nav li a{
    text-decoration: none;
    color: black;
    
}

nav ul{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.33);
    
}

nav li{
    list-style: none;
    margin-right: 20px;
    
}

nav li a:hover{
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 5px;
}

.hero-container{
display: flex;
background-color: lightgreen;
padding: 10px 50px;
align-items: center;
background: url('../Media/hero-section.jpeg') no-repeat center;
color: white;
height: 300px;
border-radius: 12px;
}

.hero-container img{
    width: 100%;
    height: 400px;
}
body{
    max-width: 1270px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.learn-more-btn{
    padding: 10px 20px;
    border-radius: 5px;
}

.learn-more-btn:hover{
    background-color: rgb(67, 67, 67);
    color: white;
}

.nav-right{
    display: flex;
    float: right;
}